#headertext {
    background-color: palevioletred;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    border-radius: 15px;
}

.shoppingsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.displaywatch img {
    height: 300px;
    width: 300px;
}

.colorchoice button {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}

.colorchoice button:hover {
    cursor: pointer;
}

.addto,
.buynow {
    width: 150px;
    height: auto;
    padding: 10px;
    margin-right: 15px;
    border-radius: 15px;
    border: none;
}

.buttontobuy {
    margin-top: 18px;

}

.addto {
    background-color: gainsboro;

}

.addto:hover {
    cursor: pointer;
}

.buynow {
    background-color: limegreen;
}

.buynow:hover {
    cursor: pointer;
}

#color1 {
    background-color: #23211f;
}

#color2 {
    background-color: #ca3d22;
}

#color3 {
    background-color: #565681;
}

#color4 {
    background-color: #e9c7be;
}