.cardsection {
    background-color: darkseagreen;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.formsection {
    background-color: lightpink;
}



.frontcard {
    background-color: blue;
    width: 100%;
    max-width: 360px;
    height: 220px;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #040382, #50bdfc, #040382);
    box-shadow: 5px 5px 5px rgb(165, 165, 165);
    border: solid 0.5px rgb(165, 165, 165);
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.backcard {
    background-color: blue;
    width: 100%;
    max-width: 360px;
    height: 220px;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #040382, #50bdfc, #040382);
    box-shadow: 5px 5px 5px rgb(165, 165, 165);
    border: solid 0.5px rgb(165, 165, 165);
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

.banknameandlogo {
    display: flex;
    background-color: #50bdfc;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
}